.carousel-inner img {
    height: 400px;
    object-fit: cover;
}

.nav {
    display: flex;
    flex-direction: row;
}

#social{
    color: green;
}

.navbar {
    margin: 0%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
.letras{
    font-size:5vw;
}

.marginWords {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

p {
    font-size: 13px;
    font-size: 3vw;
}

.img {
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 5%;
}

.photo {
    background: url("https://cdn.wallpapersafari.com/32/59/l6UJWc.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    align-items: center;
}

#ring {
    display: flex;
    padding: 100px;
}

.bg-3 {
    background: url("https://i.pinimg.com/originals/19/ef/c9/19efc993fff67c410d9b9f7d43d1fb23.jpg") center center fixed;
    /* White */
}

#about {
    justify-content: space-around;
}

.progra {
    display: flex;
    flex-direction: row;
}

.personal {
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.picture1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
    background-size: cover;
}

.bg-1 {
    display: block;
    margin: auto;
}

h1 {
    font-size: 4vw;
}

.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.template-demo>.btn {
    margin-right: 0.5rem !important
}

.template-demo {
    margin-top: 0.5rem !important
}

.btn.btn-rounded {
    border-radius: 50px
}

.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d;
}
#social{
    background: url("https://ak3.picdn.net/shutterstock/videos/22201873/thumb/1.jpg") center center fixed;
    opacity: 3%;
}